{% extends config.get("twig_container_list") %}
{% block element %}
    
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <a class="btn btn-default pull-right" href="{{ path(routeservice.getRouteName(config,'new'), routeParams)}}" ><i class="glyphicon glyphicon-plus"></i> {{ "Add"|trans }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% block gridFilter %}
                {{ grid_search(grid) }}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% block grid %}
                {{ grid(grid,'TMSolutionDataGridBundle::blocks_js.jquery.html.twig') }}{# empty Twig template #}
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block js %}

    {{ parent() }}
    {{ grid_scripts(grid) }}

{% endblock js %}        