{{'{% extends app.request.isXmlHttpRequest() ? config.get("twig_base_ajax_index") : config.get("twig_base_index") %}'}}    
{{'{% block content %}'}}    

{{'{% if routeParams.containerName==\'container\' %}'}}    
<div>
    <!-- Nav tabs -->
    <ul id="{{objectName|lower}}-view-nav" class="nav tab-nav tn-justified bgm-white" role="tablist">

        <li role="presentation" class="{{'{% if \'view\' in states %}active{% endif %}'}}">
            <a id="{{objectName|lower}}-view-tab" 
               class="lazy-loaded-tab" 
               data-href="#{{objectName|lower}}-view-pane" 
               aria-controls="{{objectName|lower}}-view-pane" 
               role="tab"  
               data-toggle="tab"
               data-masked-element=".card-container"
               data-route="core_prototype_defaultcontroller_view.{{'{{app.request.getLocale()}}'}}" 
               data-route-params='{ "id":"","containerName": "element", "actionId": "default",  "entityName": "{{objectName|lower}}" }'  
               data-route-target="#{{objectName|lower}}-view-pane" >
                {{'{{\'Informations\'|lower|trans}}'}}
            </a>
        </li>
        <li role="presentation" class="{{'{% if \'show\' in states %}active{% endif %}'}}">

            <a 
                id="{{objectName|lower}}-show-tab"  
                class="lazy-loaded-tab"
                href="#{{objectName|lower}}-show-pane" 
                aria-controls="{{objectName|lower}}-show-pane" 
                role="tab" 
                data-toggle="tab"
                data-route="core_prototype_defaultcontroller_read.{{'{{app.request.getLocale()}}'}}" 
                data-route-params='{ "id":"{{'{{entity.getId()}}'}}","containerName": "element", "actionId": "default", "entityName": "{{objectName|lower}}" }'  
                data-route-target="#{{objectName|lower}}-show-pane">
                {{'{{\''}}{{objectName}}{{'\'|lower|trans}}'}}
            </a>
        </li>
        {% for  name,field in associations %}
            {% if field.is_object==true and (field.association=='OneToMany' or field.association=='ManyToMany') %}

                <li role="presentation" class="{{'{% if \''}}{{name}}{{'\' in states %}active{% endif %}'}}}">
                    <a id="{{objectName|lower}}-{{name}}-tab" 
                       class="lazy-loaded-tab" 
                       href="#{{objectName|lower}}-{{name}}-pane" 
                       aria-controls="{{objectName|lower}}-{{name}}-pane" 
                       role="tab"  
                       data-toggle="tab"
                       data-route="core_prototype_associationcontroller_list.{{'{{app.request.getLocale()}}'}}" 
                       data-route-params='{ "containerName": "element", "actionId": "default", "parentName":"{{objectName|lower}}" , "parentId": "{{'{{entity.getId()}}'}}", "entityName": "{{classmapperservice.getEntityName(field.object_name_stripslashes,0,'en')}}" }'  
                       data-route-target="#{{objectName|lower}}-{{name}}-pane" >
                        {{"{{ "}}"{{name}}"{{"|lower|trans}}"}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane tab-panel-container {{'{% if \'view\' in states or states is empty %}active{% endif %}'}}" id="{{objectName|lower}}-view-pane"  >
        {{'{% endif %}'}}
        <div class="card">
            <div class="card-header">
                <h2 class="c-black"><i class="zmdi zmdi-border-color m-r-15"></i>{{'{{\'View\'|trans}}'}}<small class="p-l-35">{{'{{\'view data\'|trans}}'}}</small></h2>
            </div>
            <div class="card-body card-padding p-l-60">
                {{ '
                        {% block container %}
                            {% block element %}
                            {% endblock element%}    
                        {% endblock container%}
                    ' }}
            </div>
        </div>
        {{'{% if routeParams.containerName==\'container\' %}'}}   
        </div>
        <div role="tabpanel" class="tab-pane tab-panel-container parameters-tab {{'{% if \'show\' in states %}active{% endif %}'}}" id="{{objectName|lower}}-show-pane" ></div>
        {% for name,field in associations %}

            {% if field.is_object==true and (field.association=='OneToMany' or field.association=='ManyToMany') %}
                <div role="tabpanel" class="tab-pane tab-panel-container {{'{% if \''}}{{name}}{{'\' in states %}active{% endif %}'}}" id="{{objectName|lower}}-{{name}}-pane"  >
                    {{'{% if \''}}{{name}}{{'\' in states %}'}}
                    {{'{{ render(url(\'core_prototype_associationcontroller_list.\'~app.request.getLocale(),{ "containerName": "element", "actionId": "default", "parentName":'}}{{objectName|lower}}{{' , "parentId": entity.getId(), "entityName": "'}}{{classmapperservice.getEntityName(field.object_name_stripslashes,0,'en')}}{{'" } )) }}'}}
                    {{'{% endif %}'}}                        
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{{'{% endif %}'}}        
{{ '{% endblock content %}' }}

{{ '{% block js %}' }}
{{ '{{ parent() }}' }}
{{'{% if routeParams.containerName==\'container\' %}'}}   
<script>
    {{'$(\'.lazy-loaded-tab\').one(\'click\', function (e) {
        e.preventDefault();
        $().lazyLoader(\'load\', $(this), true, \'tab\');
    });'}}
</script>
{{'{% endif %}'}}
{{'{% endblock %}'}}