{% extends app.request.isXmlHttpRequest() or routeParams.containerName=="element" ? config.get("base.templates.blank") : config.get("base.templates.index") %}     

{{'{% block content %}'}}    

{{'{% if routeParams.containerName==\'container\' %}'}}    

<div  id="main-container" class="main-container container"  >

    <div class="block-header m-t-30 m-b-30 p-l-10 main-block-header">
        <div>
            <a class="btn m-btn bgm-blue btn-float waves-effect waves-circle waves-float pulsateIcon"><i class="zmdi zmdi-home"></i></a>
        </div>
        <h2 style="padding-top: 10px;"><b>{{"{% if parentEntity and parentName %}<b>{{parentName}}</b> / {{parentEntity}} / {% endif %}{{entityName|trans}}"}}</b> / {{"{{'New'|trans}}"}}  </h2><small>{{"{{'create new element.'|trans}}"}}</small>

        <ul class="actions" style="padding-top: 9px;">
            <li>
                <a id="{{objectName|lower}}-attachment-button" class="attachment-button" href="">
                    <i class="zmdi zmdi zmdi-attachment-alt"></i>
                </a>
            </li>
            <li>
                <a id="{{objectName|lower}}-help-button" class="help-button" href="">
                    <i class="zmdi zmdi-help-outline"></i>
                </a>
            </li>

        </ul>

    </div>
    <div class='card-container'>
       
        <div>
            <!-- Nav tabs -->
            <ul id="{{objectName|lower}}-insert-nav" class="nav tab-nav tn-justified bgm-white" role="tablist">

                <li role="presentation" class="disabled">
                    <a id="{{objectName|lower}}-view-tab" 
                       class="lazy-loaded-tab"
                       data-href="#{{objectName|lower}}-view-pane" 
                       aria-controls="{{objectName|lower}}-view-pane" 
                       role="tab"  
                       data-masked-element=".card-container"
                       data-route="core_prototype_defaultcontroller_view.{{'{{app.request.getLocale()}}'}}" 
                       data-route-params='{ "id":"","containerName": "element", "actionId": "default",  "entityName": "{{objectName|lower}}" }'  
                       data-route-target="#{{objectName|lower}}-view-pane" >
                        {{'{{\'Informations\'|trans}}'}}
                    </a>
                </li>
                <li role="presentation" class="active"><a id="{{objectName|lower}}-show-tab"  href="#{{objectName|lower}}-show-pane" aria-controls="{{objectName|lower}}-show-pane" role="tab" data-toggle="tab">{{'{{\''}}{{objectName}}{{'\'|lower|trans}}'}}</a></li>
                    {% for  name,field in associations %}
                        {% if field.is_object==true and (field.association=='OneToMany' or field.association=='ManyToMany') %}

                        <li role="presentation" class="disabled">
                            <a id="{{objectName|lower}}-{{name}}-tab" 
                               class="lazy-loaded-tab"
                               data-href="#{{objectName|lower}}-{{name}}-pane" 
                               aria-controls="{{objectName|lower}}-{{name}}-pane" 
                               role="tab"  
                               data-route="core_prototype_associationcontroller_grid.{{'{{app.request.getLocale()}}'}}" 
                               data-route-params='{ "containerName": "element", "actionId": "default", "parentName":"{{objectName|lower}}" , "parentId": "{{'{{entity.getId()}}'}}", "entityName": "{{classmapperservice.getEntityName(field.object_name_stripslashes,0,'en')}}" }'  
                               data-route-target="#{{objectName|lower}}-{{name}}-pane" >
                                {{"{{ "}}"{{name|lower}}"{{"|trans}}"}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane tab-panel-container" id="{{objectName|lower}}-view-pane"  >
                    {{'{% if \'view\' in states %}'}}
                    {{'{{ render(url(\'core_prototype_defaultcontroller_view.\'~app.request.getLocale(),{ "containerName": "element", "actionId": "default","id":"entity.id", "entityName": "'}}{{objectName|lower}}{{'" } )) }}'}}
                    {{'{% endif %}'}}    
                </div>
                <div role="tabpanel" class="tab-pane tab-panel-container parameters-tab active" id="{{objectName|lower}}-show-pane" >
                    {{'{% endif %}'}}
                    <div class="card">
                        <div class="card-header">
                            <h2 class="c-black"><i class="zmdi zmdi-border-color m-r-15"></i>{{'{{\'New\'|trans}}'}}<small class="p-l-35">{{'{{\'create a new entry\'|trans}}'}}</small></h2>
                        </div>
                        <div class="card-body card-padding p-l-60">
                            {{ '
                        {% block container %}
                            {% block element %}
                            {% endblock element%}    
                        {% endblock container%}
                    ' }}
                        </div>
                    </div>
                    {{'{% if routeParams.containerName==\'container\' %}'}}       
                </div>
                {% for name,field in associations %}

                    {% if field.is_object==true and (field.association=='OneToMany' or field.association=='ManyToMany') %}
                        <div role="tabpanel" class="tab-pane tab-panel-container {{'{% if \''}}{{name}}{{'\' in states %}active{% endif %}'}}" id="{{objectName|lower}}-{{name}}-pane"  >
                            {{'{% if \''}}{{name}}{{'\' in states %}'}}
                            {{'{{ render(url(\'core_prototype_associationcontroller_grid.\'~app.request.getLocale(),{ "containerName": "element", "actionId": "default", "parentName":'}}{{objectName|lower}}{{' , "parentId": entity.getId(), "entityName": "'}}{{classmapperservice.getEntityName(field.object_name_stripslashes,0,'en')}}{{'" } )) }}'}}
                            {{'{% endif %}'}}                        
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
     
    </div>
</div>
    
{{'{% endif %}'}}        
{{ '{% endblock content %}' }}

{{ '{% block js %}' }}
{{ '{{ parent() }}' }}
{{ '{% endblock %}' }}
