{{'{% extends app.request.isXmlHttpRequest() or routeParams.containerName=="element" ? config.get("twig_base_ajax_index") : config.get("twig_base_index") %}  '}}  
{{'{% block content %}'}}    

    <div class="card">
        <a href="{{'{{ path(newActionName, buttonRouteParams)}}'}}" class="btn btn-float btn-danger m-btn waves-effect waves-circle waves-float lazy-loaded"><i class="zmdi zmdi-plus"></i></a>
        
        <div class="card-header">
            <h2 class="c-black"><i class="zmdi zmdi-search m-r-20"></i>{{'Search filters'|trans}}<small class="p-l-35">{{'{{\'use filters to search\'|trans}}'}}</small></h2>
        </div>

        {{'{% block container %}
            {% block element %}
            {% endblock element%}    
        {% endblock container%}'}}    

    </div>
{{'{% endblock content %}'}}            

