{{ '{% extends config.get("twig_base_index") %}' }}
{{'{% block content %}'}}    
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#{{objectName|lower}}-show-tab" aria-controls="{{objectName|lower}}-show-tab" role="tab" data-toggle="tab">{{"{{ "}}"{{objectName|lower}}"{{"|trans }}"}}</a></li>
    {% for  name,association in associations %}
    <li role="presentation"  ><a class="lazy-loaded-tab" href="#{{objectName|lower}}-{{name}}-tab" aria-controls="{{objectName|lower}}-{{name}}-tab" role="tab" data-toggle="tab" data-route="core_prototype_associationcontroller_list.{{"{{app.request.getLocale()}}"}}" data-route-params='{ "parentName":"{{ '{{classmapperservice.getEntityName(' }}"{{entityName}}"{{ ')}}' }}" , "parentId": "{{"{{entity.id}}"}}", "entityName": "{{ '{{classmapperservice.getEntityName(' }}"{{association.object_name}}"{{ ')}}' }}" }'  data-route-target="" >{{"{{ "}}"{{name|lower}}"{{"|trans}}"}}</a></li>
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active tab-panel-container" id="{{objectName|lower}}-show-tab" > {{ '{% block element %}'}}{{ '{% endblock %}' }}</div>
    {% for name,association in associations %}
    <div role="tabpanel" class="tab-pane  tab-panel-container" id="{{objectName|lower}}-{{name}}-tab"  ></div>
    {% endfor %}
  </div>

</div>
{{ '{% endblock content %}' }}


{{ '{% block js %}' }}
       {{ '{{ parent() }}' }}
        <script src="{{ '{{asset("bundles/coreprototype/js/lazyLoadedTab.js")}}'}}"></script>
{{ '{% endblock %}' }}