{{ "{% extends config.get('twig_container_update') %}" }}

{{ "{% block element %}" }}

{{ "{{ form_start(form) }}" }}
{{ "{{ form_errors(form) }}" }}

{% for field, fieldParam in fieldsInfo %}
    <!-- {{field}} -->
    <div class="form-group">
        {{ "{{ form_label(form." }}{{field}}{{ ") }}" }}
        {{ "{{ form_widget(form." }}{{field}}{{ ") }}" }}
    </div>
{% endfor %}

<div>
    <span class="pull-right">   
        <a href="{{ "{{ path(listActionName, { 'entityName': entityName})}}" }}" class=" prevButton btn">
            {{ "{{ 'Back'|trans}}" }}
        </a>
        <a href="{{ "{{ path(updateActionName, { 'entityName': entityName,'id':entity.id})}}" }}" class="btn">
            {{ "{{ 'Update'|trans}} " }}

        </a>
    </span>
</div>
{{ "{{ form_end(form) }}" }}
{{ "{% endblock element %}" }}