{{ "{% extends config.get('twig_container_read') %}" }}

{{ "{% block element %}" }}
<div class="row">
    <div class="col-md-12 col-sm-12 form-horizontal">

        {% for field, fieldParam in fieldsInfo %}
            {% if fieldParam.is_object %}
            {% if fieldParam.object_name is defined %}{% set defaultFieldName=that.getDefaultField(fieldParam.object_name) %}{% endif %}
            {% if fieldParam.association !='OneToMany' and  fieldParam.association !='ManyToMany' %}
                <!-- Field {{field}} -->  
                {{ "{%  if properties."}}{{field}}{{" is iterable %}" }}
                <div class="form-group m-b-20">
                    <div class="col-sm-1 f-700">{{" {{'"}}{{lowerNameSpaceForTranslate}}.{{objectName}}.{{field}}.{{defaultFieldName}}{{"'|trans}} "}}</div>
                    <div class="col-sm-11">
                         {{ "{% if properties."}}{{field}}{{" is defined %}{% for item in properties."}}{{field}}{{" %} "}}

                        {{ " {% if item %}{{item}}{% if not loop.last %},{% endif %}{% endif %}" }}

                        {{ "{% endfor %}{% else %}-{% endif %}" }}

                    </div>
                </div> 
                {{ "{% else %}" }}

                <div class="form-group m-b-20">
                    <div class="col-sm-1 f-700">{{" {{'"}}{{lowerNameSpaceForTranslate}}.{{objectName}}.{{field}}.{{defaultFieldName}}{{"'|trans}} "}}</div>
                    <div class="col-sm-11">{{ "{% if properties."}}{{field}}{{" %}{{properties."}}{{field}}{{"}}{% else %}-{% endif %}" }}</div>
                </div>
                {{ "{% endif %}" }}    

            {% endif %}
        {% else %}

            <!-- Field {{field}} -->  
            {{ "{%  if properties."}}{{field}}{{" is iterable %}" }}
            <div class="form-group m-b-20">
                <div class="col-sm-1 f-700">{{" {{'"}}{{lowerNameSpaceForTranslate}}.{{objectName}}.{{field}}{{"'|trans}} "}}</div>
                <div class="col-sm-11">
                    {{ "{% if properties."}}{{field}}{{" is defined %}{% for item in properties."}}{{field}}{{" %} "}}

                    {{ " {% if item %}{{item}}{% if not loop.last %},{% endif %}{% endif %}" }}

                    {{ "{% endfor %}{% else %}-{% endif %}" }}

                </div>
            </div> 
            {{ "{% else %}" }}

            <div class="form-group m-b-20">
                <div class="col-sm-1 f-700">{{" {{'"}}{{lowerNameSpaceForTranslate}}.{{objectName}}.{{field}}{{"'|trans}} "}}</div>
                <div class="col-sm-11">{{ "{% if properties."}}{{field}}{{" %}{{properties."}}{{field}}{{"}}{% else %}-{% endif %}" }}</div>
            </div>
            {{ "{% endif %}" }}    


        {% endif %}


    {% endfor %}

</div> 
</div> 
<div class="row">
    <div class="col-md-12 col-sm-12">
    
        <span class="pull-right">   
            <a href="{{ "{{ path(deleteActionName, buttonRouteParams)}}" }}" data-masked-element=".card-container" data-route-target=".parameters-tab" class="btn btn-link button-delete">
                {{ "{{ 'Delete'|trans}} " }}

            </a>
            <a href="{{ "{{ path(editActionName, buttonRouteParams)}}" }}" data-masked-element=".card" data-route-target=".parameters-tab" class="btn btn-primary m-l-5 button-edit">
                {{ "{{ 'Edit'|trans}}" }}
            </a>
        </span>


    </div>
</div>

{{ "{% endblock element %}" }}

{{ "{% block js %}"}}
{{ "{{parent()}}"}}
<script>
    {{"
   
        var readElementFn = function(){
        
            $('#"}}{{objectName|lower}}{{"-insert-nav').find('.disabled > a').each(function () {
                $(this).data('toggle', 'tab').attr('href', $(this).data('href'));
                var routeParams = $(this).data('route-params');
                if (routeParams !== 'undefined') {
                    if (routeParams.parentName) {
                        routeParams.parentId = '{{entity.id}}';
                    }
                    else {
                        routeParams.id = '{{entity.id}}';
                    }
                }
                $(this).closest('li').removeClass('disabled');

                $(this).on('click', function (e) {
                    e.preventDefault();
                    $(this).tab('show')
                });

                $(this).one('click', function (e) {
                    e.preventDefault();
                    $().lazyLoader('load', $(this), true, 'tab');
                });

            });
            $().lazyLoader('setDefaultLocation', '{{ defaultRoute }}');
        };
        
        {% if isMasterRequest %}
        readElementFn();
        {% else %}
        if(collector){collector.addFunction(readElementFn);}
        {% endif %}

    "}}
        

</script>

{{ "{% endblock %}"}}


