{{ "{% extends config.get('twig_container_create') %}" }}


{{ "{% block element %}" }}

    <div class="row">
        <div class="col-md-12 col-sm-12">
           BEAUTIFUL PANEL !
        </div>
    </div>   

{{ "{% endblock element %}" }}


{{ '{% block js %}' }}
{{ '{{ parent() }}' }}
<script>
{{"$().lazyLoader('setDefaultLocation', '{{ defaultRoute }}');"}}
</script>
{{ '{% endblock js %}' }}

