{{ "{% extends config.get('twig_container_create') %}" }}
{{ "{% form_theme form 'bootstrap_3_layout.html.twig' %}" }}

{{ '{% block css %}' }}
{{ '{{ parent() }}' }}
<link rel="stylesheet" href="{{ "{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" }}">
{{ '{% endblock css %}' }}

{{ "{% block element %}" }}
<div class="row">
    <div class="col-md-12 col-sm-12">
        

        {# added params for disable html validation #}
        {{ "{{ form_start(form, { 'attr': {'class': '','novalidate': 'novalidate' }}) }}" }}
        {{ "{{ form_errors(form) }}" }}
        {% set datepicker=false %}
        {% for field, fieldParam in fieldsInfo %}
            {% if field!='id' %}
                {% if fieldParam.type=='datetime' or fieldParam.type=='date' %}
                    {% set datepicker=true %}
                {% endif %}

                {% if fieldParam.is_object %}

                    {% if fieldParam.association !='OneToMany' and  fieldParam.association !='ManyToMany' %}
             <!-- {{field}} {{fieldParam.type}} -->
                        <div class="form-group">
                            {{ "{{ form_label(form." }}{{field}}{{ ") }}" }}
                            {{ "{{ form_widget(form." }}{{field}}{{ ") }}" }}
                        </div>   
                    {% endif %}
                {% else %}    
            <!-- {{field}} {{fieldParam.type}} -->
                    <div class="form-group">
                        {{ "{{ form_label(form." }}{{field}}{{ ") }}" }}
                        {{ "{{ form_widget(form." }}{{field}}{{ ") }}" }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="button-rows" >    
            <button onclick="history.go(-1)" class="btn btn-default pull-left" type="button">{{ "{{ 'Cancel'|trans}}" }}</button>
            <button class="btn btn-default pull-right" type="submit" >{{ "{{ 'Save'|trans}}" }}</button>
        </div>
        {{ "{{ form_end(form) }}" }}
    </div>
</div>
{{ "{% endblock element %}" }}


{{ '{% block js %}' }}
{{ '{{ parent() }}' }}
{% if datepicker %}
<script src="{{ "{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"}}"></script>
{% endif %}
{{ '{% endblock js %}' }}
