{{ "{% extends config.get('twig_container_view') %}" }}


{{ "{% block element %}" }}

    <div class="row">
        <div class="col-md-12 col-sm-12">
           BEAUTIFUL PANEL !
        </div>
    </div>   

{{ "{% endblock element %}" }}


{{ '{% block js %}' }}
{{ '{{ parent() }}' }}
<script>
    var viewElementFn = function(){
        $().lazyLoader('setDefaultLocation', '{{'{{ defaultRoute }}'}}');
    }
    $().collector('addFunction', viewElementFn);
</script>
{{ '{% endblock js %}' }}

