{{ "{% extends config.get('twig_container_view') %}" }}


{{ "{% block element %}" }}

<div class="row">
    {{'{% for chartWidget in chartWidgets %}
        <div class="col-md-3 col-sm-3 col-xs-12 form-horizontal">
            {{chartWidget|raw}}
        </div>
    {% endfor %}'}}
</div>   

{{ "{% endblock element %}" }}


{{ '{% block js %}' }}
{{ '{{ parent() }}' }}
<script>
    {{'
    var viewElementFn = function(){
        $().lazyLoader("setDefaultLocation", "{{ defaultRoute }}");
    }
    {% if isMasterRequest %}
    viewElementFn();
    {% else %}
    if(collector){collector.addFunction(viewElementFn);}
    {% endif %}
    '}}
</script>
{{ '{% endblock js %}' }}

