{{ "{% extends config.get('twig_container_update') %}" }}
{{ "{% form_theme form 'Form\\\\bootstrap_3_horizontal_layout.html.twig' %}" }}

{{ '{% block css %}' }}
{{ '{{ parent() }}' }}
{% if datepicker is defined %}
    <link rel="stylesheet" href="{{ "{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" }}">
{% endif %}
{{ '{% endblock css %}' }}

{{ "{% block element %}" }}
<div class="row">
    <div class="col-md-12 col-sm-12">
        {{ "{{ form_start(form,{'attr': {'class': 'edit-form','data-masked-element': '.card','data-route-target':'.parameters-tab'}}) }}" }}
        {{ "{{ form_errors(form) }}" }}
        {% set datepicker=false %}
        {% for field, fieldParam in fieldsInfo %}
            {% if field!='id' %}
                {% if fieldParam.type=='datetime' or fieldParam.type=='date' %}
                    {% set datepicker=true %}
                {% endif %}

                {% if fieldParam.is_object %}

                    {% if fieldParam.association !='OneToMany' and  fieldParam.association !='ManyToMany' %}
             <!-- {{field}} {{fieldParam.type}} -->
                        {{ "{% if form." }}{{field}}{{ " is defined %}" }}
                        {{ "{{ form_row(form." }}{{field}}{{ ") }}" }}
                        {{ "{% endif %}" }}
                        {# "{{ form_widget(form." }}{{field}}{{ ") }}" #}

                    {% endif %}
                {% else %}    
            <!-- {{field}} {{fieldParam.type}} -->
                    {{ "{% if form." }}{{field}}{{ " is defined %}" }}
                    {{ "{{ form_row(form." }}{{field}}{{ ") }}" }}
                    {{ "{% endif %}" }}
                    {# "{{ form_widget(form." }}{{field}}{{ ") }}" #}

                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="button-rows" >    
            <button class="btn btn-primary pull-right waves-effect m-l-5"  data-route-target=".parameters-tab" data-masked-element=".card" type="submit" >{{ "{{ 'Save'|trans}}" }}</button>
            <a href="{{'{{ path(cancelActionName, buttonRouteParams)}}'}}" class="btn btn-link pull-right waves-effect lazy-loaded" data-masked-element=".card-container" data-route-target=".content" type="button">{{ "{{ 'Cancel'|trans}}" }}</a>                            
        </div>
        {{ "{{ form_end(form) }}" }}
    </div>
</div>
{{ "{% endblock element %}" }}


{{ '{% block js %}' }}
{{ '{{ parent() }}' }}
<script> {{ '{{ form_jquery_validation(form) }}' }} </script>
{% if datepicker is defined %}
    <script src="{{ "{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"}}"></script>
{% endif %}
<script>
    {{'
    var updateElementFn = function(){
        $().lazyLoader("setDefaultLocation", "{{ defaultRoute }}");
    }
    {% if isMasterRequest %}
    updateElementFn();
    {% else %}
    if(collector){collector.addFunction(updateElementFn);}
    {% endif %}
    '}}   
</script>
{{ '{% endblock js %}' }}



