<?xml version="1.0"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
    <file source-language="{{ language }}" datatype="plaintext" original="file.ext">
        <body>
     {% set lastSection = '' %}       
    {% for entity in entities %}{% for field in entity.fields %}{% if field !='Id' %}       {% if lastSection != entity.section %} <!-- {{entity.section}} -->
            {% endif %}<trans-unit id="{{entity.prefix}}.{{entity.objectName|lower}}.{{field|lower}}">
                <source>{{entity.objectName}}.{{field}}</source>
                <target>{{field}}</target>
            </trans-unit>
    {% endif %}{% set lastSection = entity.section %}{% endfor %}{% endfor %}
    </body>
    </file>
</xliff>
