{% extends config.get("twig_base_index") %}
{% block content %}    
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#productcategory-show-tab" aria-controls="productcategory-show-tab" role="tab" data-toggle="tab">{{'productcategory'|trans}}</a></li>
        <li role="presentation" class="lazy-loaded-tab" data-route="core_prototype_associationcontroller_list.{{app.request.getLocale()}}" data-route-params='{ "parentName": "{{classmapperservice.getEntityName("AppBundle\\Entity\\ProductCategory")}}" ,  "parentId": {{entity.id}}, "entityName": "{{classmapperservice.getEntityName("AppBundle\\Entity\\Product")}}" }'  data-route-target="" ><a href="#productcategory-products-tab" aria-controls="productcategory-products-tab" role="tab" data-toggle="tab"  >{{'products'|trans}}</a></li>
      </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active  tab-panel-container" id="productcategory-show-tab" > {% block element %}{% endblock %}</div>
        <div role="tabpanel" class="tab-pane   tab-panel-container" id="productcategory-products-tab"  ></div>
      </div>

</div>
{% endblock content %}


{% block js %}
       {{ parent() }}
        <script src="{{asset("bundles/coreprototype/js/lazyLoadedTab.js")}}"></script>
{% endblock %}