{% form_theme form 'CCOUserBundle:Form:register_form_layout.html.twig' %}
<div >
    <div class="cco-center-block">
        <div class="row">
            <div class="col-md-12" >
                <a class="btn btn-lg btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> {{ "Zarejestruj się przez Facebook"|trans }}
                </a>
            </div>
        </div>

        <div class="row" style="margin-top:10px">        
            <div class="col-md-12" >     
                <a class="btn btn-lg btn-block btn-social btn-google">
                    <i class="fa fa-google"></i> {{ "Zarejestruj się przez Google"|trans }}
                </a>      
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="checkbox">

                    <label>
                        <input type="checkbox" value="1" id="terms-for-social-networks"/>

                        {{ 'Accept'|trans }} <a href="url_to_pdf">{{ 'the terms' |trans }}</a>
                    </label>

                </div>
            </div>
        </div>
        <strong class="circumflex-line">lub</strong>


        <h1>{{ "Sign up"|trans }}</h1>



        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" name="fos_user_registration_form"  class="fos_user_registration_register">


            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.gender) }}
            
            <div class="checkbox">
                <label>
                    {{ form_widget(form.registerTerms) }}

                    {{ 'Accept'|trans }} <a href="url_to_pdf">{{ 'the terms' |trans }}</a></label>
            
            </div>






            <div>

                <button class="btn btn-lg btn-block btn-social btn-cco btn-cco-register" type="submit"  value="{{ 'registration.submit'|trans }}" >

                    <i class="icon-cco-headset"></i> {{ 'registration.submit'|trans }}
                </button>
            </div>

        </form>
    </div>
</div>
