{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="cco-center-block">




      


        {% for owner in hwi_oauth_resource_owners() %}
            <div class="row">
                <div class="col-md-12" >
                    {{ dump(owner) }}
                    <a class="btn btn-lg btn-block btn-social btn-{{owner}}" href="{{ hwi_oauth_login_url(owner) }}">
                        <i class="fa fa-{{owner}}"></i>{{ "Zaloguj się przez "|trans }} {{ owner | trans({}, 'HWIOAuthBundle')|capitalize  }}
                    </a>
                </div>
            </div>
        {% endfor %}

        <strong class="circumflex-line">lub</strong>

        <h1>{{ "Sign in"|trans }}</h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="fos_user_login" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label class="control-label required" for="username">{{ 'security.login.email'|trans }}</label>
                <input type="text" id="username"  name="_username" value="{{ last_username }}" required="required" class="form-control"  />
            </div>
            <div class="form-group">
                <label class="control-label required" for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required"  class="form-control"/>
            </div>
            <div class="checkbox">
                <label for="remember_me">
                    <input  type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans }}</label>
            </div>
            <div>
                <button class="btn btn-lg btn-block btn-social btn-cco btn-cco-login" type="submit"  value="{{ 'security.login.submit'|trans }}" >

                    <i class="icon-cco-headset"></i> {{ 'security.login.submit'|trans }}
                </button>
            </div> 




        </form>
    </div>
{% endblock fos_user_content %}
